<h1>Add new links !</h1>
<h2>Have fun !</h2>

<form action="/new_link_added" method="POST">
  <label for="new_link">
    Enter in link
    <input type="text" name="new_link">
  </label>
  <input type="submit" value="Submit">
</form>
