<h1>Delete links here</h1>

<form action="/delete_link" method="POST">
  <label for="delete_link_title">
    Enter a title to delete
    <input type="text" name="delete_link_title">
  </label>
  <input type="submit" value="Submit">
</form>
