<!DOCTYPE html>
<html>

<ul>
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>" target="_blank"><%= link.title %></a></li>
  <% end %>
</ul>

<a href="/add_new_link">add new link</a>
<a href="/delete_link">delete link</a>
<a href="/update_link">update link</a>

</html>
