<h1>Update links here</h1>

<form action="/update_link" method="POST">
  <input type="hidden" name="id" value="<%= @link.id %>">
  <input type="text" name="url" value="<%= @link.url %>" />
  <input type="text" name="title" value="<%= @link.title %>"/>
  <input type="submit" value="Submit" />
</form>
